<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <listener>
    <listener-class>controller.listner.OnStart</listener-class>
  </listener>

  <servlet>
    <servlet-name>RegisterSeeker</servlet-name>
    <servlet-class>controller.servlet.RegisterSeekerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterSitter</servlet-name>
    <servlet-class>controller.servlet.RegisterSitterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>controller.servlet.ProfileRedirectServlet</servlet-name>
    <servlet-class>controller.servlet.ProfileRedirectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>controller.servlet.EditProfileFormServlet</servlet-name>
    <servlet-class>controller.servlet.EditProfileFormServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>controller.servlet.EditSeekerProfileServlet</servlet-name>
    <servlet-class>controller.servlet.EditSeekerProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>controller.servlet.EditSitterProfileServlet</servlet-name>
    <servlet-class>controller.servlet.EditSitterProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSitterApplication</servlet-name>
    <servlet-class>controller.servlet.DeleteSitterApplicationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CloseAccount</servlet-name>
    <servlet-class>controller.servlet.CloseaAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServeAccount</servlet-name>
    <servlet-class>controller.servlet.AccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>controller.servlet.CloseJobServlet</servlet-name>
    <servlet-class>controller.servlet.CloseJobServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>controller.servlet.PostNewJobServlet</servlet-name>
    <servlet-class>controller.servlet.PostNewJobServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>controller.servlet.ApplicantListServlet</servlet-name>
    <servlet-class>controller.servlet.ApplicantListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditJob</servlet-name>
    <servlet-class>controller.servlet.EditJobDetailsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>controller.servlet.ApplyNewJobServlet</servlet-name>
    <servlet-class>controller.servlet.ApplyNewJobServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>controller.servlet.ApplyJobServlet</servlet-name>
    <servlet-class>controller.servlet.ApplyJobServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>controller.servlet.SearchServlet</servlet-name>
    <servlet-class>controller.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>controller.servlet.SitterAccountServlet</servlet-name>
    <servlet-class>controller.servlet.SitterAccountServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>controller.servlet.SitterAccountServlet</servlet-name>
    <url-pattern>/sitteraccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterSeeker</servlet-name>
    <url-pattern>/registerseeker</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterSitter</servlet-name>
    <url-pattern>/registersitter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>controller.servlet.ProfileRedirectServlet</servlet-name>
    <url-pattern>/profileredirect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>controller.servlet.EditProfileFormServlet</servlet-name>
    <url-pattern>/editprofileform</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>controller.servlet.EditSeekerProfileServlet</servlet-name>
    <url-pattern>/editseekerprofile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>controller.servlet.EditSitterProfileServlet</servlet-name>
    <url-pattern>/editsitterprofile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSitterApplication</servlet-name>
    <url-pattern>/deletesitterapplication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CloseAccount</servlet-name>
    <url-pattern>/closeaaccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServeAccount</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>controller.servlet.CloseJobServlet</servlet-name>
    <url-pattern>/closejob</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>controller.servlet.PostNewJobServlet</servlet-name>
    <url-pattern>/postnewjob</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>controller.servlet.ApplicantListServlet</servlet-name>
    <url-pattern>/applicantlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditJob</servlet-name>
    <url-pattern>/editjobdetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>controller.servlet.ApplyNewJobServlet</servlet-name>
    <url-pattern>/applynewjob</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>controller.servlet.ApplyJobServlet</servlet-name>
    <url-pattern>/applyjob</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>controller.servlet.SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <el-enabled>true</el-enabled>
      <scripting-enabled>true</scripting-enabled>
    </jsp-property-group>
  </jsp-config>
</web-app>
